@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }

  html,
  aside div.overflow-scroll {
    scrollbar-width: none;
  }

  body {
    @apply text-white min-h-dvh;
  }
}

/* --- Transitions --- */

.button-enter {
  opacity: 0;
  pointer-events: none;
}

.button-exit {
  opacity: 1;
  pointer-events: none;
}

.button-enter-active {
  opacity: 1;
  pointer-events: none;
}

.button-exit-active {
  opacity: 0;
  pointer-events: none;
}

.button-enter-active,
.button-exit-active {
  transition: opacity 500ms;
}

.search-enter {
  opacity: 0;
}

.search-exit {
  opacity: 1;
}

.search-enter-active {
  opacity: 1;
}

.search-exit-active {
  opacity: 0;
}

.search-enter-active,
.search-exit-active {
  transition: opacity 250ms;
}

.guess-enter {
  opacity: 0;
}

.guess-exit {
  opacity: 1;
}

.guess-enter-active {
  opacity: 1;
}

.guess-exit-active {
  opacity: 0;
}

.guess-enter-active,
.guess-exit-active {
  transition: opacity 1000ms;
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.records-box-enter {
  grid-template-rows: 0fr;
}

.records-exit {
  grid-template-rows: 1fr;
}

.records-enter-active {
  grid-template-rows: 1fr;
}

.records-exit-active {
  grid-template-rows: 0fr;
}

.records-enter-active,
.records-exit-active {
  transition: grid-template-rows 1000ms ease;
}
