@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-700 text-white min-h-[100dvh];
  }

  header {
    @apply bg-zinc-950;
  }

  main {
    @apply max-w-5xl mx-auto p-4 py-20;
  }
}

nav a {
  position: relative;
  display: inline-block;
}

nav a::after {
  background-color: white;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: transform 200ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

nav a:hover::after,
nav a.active::after {
  transform: scaleX(1);
}
