@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[url('/images/background.jpg')] backdrop-brightness-50 bg-no-repeat bg-cover bg-center bg-fixed text-white min-h-[100dvh];
  }

  main {
    @apply max-w-5xl mx-auto py-20;
  }
}

@layer components {
  .nameplate {
    @apply w-[350px] sm:w-[385px] lg:w-[455px];
  }
}

@layer utilities {
  .icon-gradient {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
  }

  .grid-center {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

nav a {
  position: relative;
  display: inline-block;
}

nav a::after {
  background-color: white;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: transform 200ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

nav a:hover::after,
nav a.active::after {
  transform: scaleX(1);
}

/* --- Transitions --- */

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
